---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



//===== variables ======================================================================//

$base-font-family:'Raleway', sans-serif;
$second-font: 'Ubuntu', sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #232524;
$background-color: #f5f3f4;
$brand-color:      #26a848;
$brand-color-2:    #f09b31;
$brand-color-3:    #f3293f;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    900px;
$on-palm:          600px;
$on-laptop:        900px;
$pad:              800px;
$mobil:            400px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }



//======= Import partials from `sass_dir` (defaults to `_sass`) =========================//

@import
        "mixins",
        "base",
        "layout",
        "syntax-highlighting"

;

//=============== style =================================================================//


//==== button ==========================================//

.order_button {
  @include button();
  @include media-query($mobil) {
    width: 87%;
  }
}

//==== header logos ====================================//

.site-title{
  margin: 20px 20px 0 70px;

}

.wrapper{
  .site-title{
    margin: 70px 20px 0 0;
    @include media-query($pad){
      display: none;
    }
    }
  }


//==== slider images ===================================//

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 10px #888888;
  border: 1px solid #141414;

  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  }

  li:first-child {
    position: relative;
    display: block;
    float: left;
  }

  img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
  }
}

//==== menu images =====================================//

.menu{
  box-shadow: 0 0 10px #888888;
  border: 1px solid #141414;
  margin: 10px;
}

p{
  font-family: $second-font;
}

h2{
  margin: 40px 0 0 0;
}

//==== locations =======================================//

.location{
  width:80%;
  margin: 0 auto;
  overflow: auto;
}

//==== location buttons ================================//

.direct{
  position: relative;
  bottom: 60px;
  right:40px;
  margin: 0;
  @include media-query($pad){
    position: static;
  }
}

#menu{
  padding: 0;
  overflow: visible;
}



