//====================================== mixins ========================================//


//======== media queries ===========//

@mixin desktop {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin pad {
  @media (min-width: 400px) and (max-width: 800px) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 300px) and (max-width: 399px) {
    @content;
  }
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

//============= font ===============//

@mixin font($family,$size,$style){
  font-family: $family;
  font-size: $size;
  font-style: $style;
}


//============ radius ==============//

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


//============ center ==============//

@mixin center($top,$bottom) {
  margin:$top auto $bottom;
}


//============ gradient ============//

@mixin gradient($top, $bottom) {
  background: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom));
  background: -moz-linear-gradient(top, $top, $bottom);
  background: -ms-linear-gradient(top, $top, $bottom);
  background: -o-linear-gradient(to bottom, $top, $bottom);
}


//============ button ==============//

@mixin button() {
  background: #f09b31;
  color: $text-color;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  float:right;
  margin: 15px 0 0 0;
  width: 110px;
  box-shadow: 0 0 10px #888;
  border: 1px solid #141414;
  transition-duration: .2s;
  @include gradient(#f09b31, #f3293f);
  @include border-radius(5px);
  &:hover {
    transform:scale(1.05,1.05);
    box-shadow: 0 0 20px #888;
    text-decoration: none;
  }
  &:active {

  }
}

//====================================== style ==========================================//

//.center {
//  width: 100px;
//  line-height:30px;
//  text-align: center;
//  @include gradient(#3498db, #2980b9);
//  @include center(10px, 10px);
//  @include border-radius(10px);
//}
//
//.button{
//  @include button();
//  @include center(10px,10px);
//}
//
//p{
//  height: 100px;
//  width:600px;
//  color:#f0f0f0;
//  text-align: center;
//  padding: 40px;
//  @include center(25px,25px);
//  @include gradient(rgba(0,0,0,1),rgba(0,0,0,.2));
//  @include font(Lucida Console,25px,italic);
//  @include border-radius(10px);
//  @include mobile{
//    width:200px;
//    padding: 10px;
//  }
//}